:root {
    font-size: 62.5%;
    --house-width: 12rem;
    --background-color: #c6e6f5;
}

body {
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 1.5rem;
    min-height: 65rem;
}


.house {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 6rem;
    position: relative;
    cursor: pointer;
}

.house-nav {
    position: absolute;
    width: 12rem;
    height: 0rem;
    background: rgb(72, 71, 71);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    z-index: 10;
    cursor: pointer;
    transition: 300ms ease-in;
    font-size: 2rem;
    overflow: hidden;
}

.house-nav-height-10 {
    height: 10rem;
}

.house-nav > * {
    margin-bottom: 1.5rem;
    display: block;
    color: white;
}

    .house-nav > *:hover {
        color: skyblue;
    }

.house-nav > #delete:after {
    content: "\f1f8";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    margin-left: 0.8rem;
}

.house-nav > #edit:after {
    content: "\f044";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    margin-left: 0.8rem;
}

.roof {
    width: 0;
    height: 0;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    border-bottom: 8rem solid;
    position: relative;
}

.balcony {
    width: 4rem;
    fill: white;
    height: auto;
    position: absolute;
    margin-top: 3rem;
    left: 50%;
    transform: translate(-50%);
}

#balcony2 {
    width: 4.5rem;
    margin-top: 2.5rem;
}

.house-window {
    width: var(--house-width);
    height: 6rem;
    background: var(--house-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.window {
    fill: white;
    width: 4rem;
}

.house-door {
    width: var(--house-width);
    height: 4.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.door {
    fill: white;
    height: 4rem;
}

.floor {
    width: calc(var(--house-width) + 2rem);
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navbutton {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.draggable.dragging {
    opacity: 0.5;
    cursor: move;
}

select, option {
    cursor: pointer;
}

.filter-mouse-over {
    height: 15rem;
    padding: 1rem;
}


.filter-mouse-out {
    height: 0rem;
    padding: 0rem;
}

.loading {
    font-size: 4rem;
}

    .loading::after {
        content: "";
        animation: loading-animation 1500ms infinite;
    }

@keyframes loading-animation {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}
