.header-name {
    /* Overriding margins set in Navbar.css */
    margin-left: auto;
    margin-right: auto;
}

:root {
    /* Overriding variable value set in Navbar.css */
    --navbar-height: 12.5rem;
}


#login-form {
    background-color: white;
    border-radius: 0.5rem;
    padding: 3rem;
    width: 55rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.4rem 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

input, button {
    cursor: pointer;
}

#login-form > * {
    margin: 2rem;
}

#login-form *, #login-form {
    box-sizing: border-box;
}

.form-div {
    max-width: 41rem;
}

.login-input {
    height: 5.5rem;
    font-size: 1.7rem;
    width: 35rem;
    padding: 1.5rem;
    outline: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0.1rem solid var(--navbar-color);
    border-left: none;
}

    .login-input:focus, .login-input:focus-visible {
        border: 0.1rem solid var(--navbar-color);
        border-left: none;
        outline: none;
    }

.form-div:focus-within .login-input, .form-div:focus-within .icon-div {
    border-bottom: 0.4rem solid var(--navbar-color);
}

.form-div:focus-within .login-icon {
    fill: black;
}

.icon-div {
    background-color: var(--background-color);
    width: 6rem;
    height: 5.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: 0.1rem solid var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon {
    height: 3rem;
    width: auto;
    fill: rgb(150, 150, 150, 0.8)
}

.form-div label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 1.5rem;
    left: 7rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 10px;
    color: #999;
    background-color: white;
    transition: all .3s ease;
}

.form-div input:focus + label,
.form-div input:valid + label {
    font-size: 1.6rem;
    top: -0.5rem;
    color: black;
    font-weight: 100;
}

@keyframes autofill {
    to {
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.autofilled {
    font-size: 1.6rem !important;
    top: -0.5rem !important;
    color: black !important;
    font-weight: 100;
}

.login-button {
    width: 41rem;
    height: 5.5rem;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    border: 0.15rem solid var(--navbar-color);
    border-bottom: 0.3rem solid var(--navbar-color);
    font-size: 2rem;
    font-family: inherit;
}

    .login-button:active {
        transform: translateY(0.2rem);
    }

    .login-button:hover, .login-button:focus {
        background-color: var(--navbar-color);
        color: white;
        border-bottom: 0.3rem solid var(--navbar-color);
    }

#signup-link {
    margin: 0;
    font-size: 1.3rem;
    font-family: inherit;
    color: var(--navbar-color);
}


.input-container {
    position: relative;
    display: flex;
}

@media (max-width: 600px) {
    #login-form {
        width: 35rem;
    }

    .login-input {
        width: 20rem;
    }

    .login-button {
        width: 26rem;
    }
}