:root {
    font-size: 62.5%;
    --house-width: 12rem;
    --background-color: #c6e6f5;
    --navbar-color: rgb(74, 66, 66);
    --margin-left-body-conatiner: 3rem;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    background-color: var(--background-color);
}

footer {
    font-size: 2rem;
    margin-top: 4rem;
}

#body-container, footer {
    margin-left: var(--margin-left-body-conatiner);
}
