################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/YousifsSolution/YousifsProject/obj
/YousifsSolution/YousifsProject/bin
/YousifsSolution/.vs/YousifsSolution
/YousifsSolution/.vs/ProjectEvaluation
/YousifsSolution/MyDatabase/MyDatabase.dbmdl
/YousifsSolution/MyDatabase/bin
/YousifsSolution/MyDatabase/obj
