################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/ZimsCitySolution/ZimsCityProject/obj
/ZimsCitySolution/ZimsCityProject/bin
/ZimsCitySolution/.vs/ZimsCitySolution
/ZimsCitySolution/.vs/ZimsCitySolution
/ZimsCitySolution/.vs/ProjectEvaluation
/ZimsCitySolution/Tests/obj
/ZimsCitySolution/Tests/bin

/ZimsCitySolution/.vs/YousifsSolution/FileContentIndex
