<div id="no-house-div">
   <p id="no-house-p"> You don't have any houses in your city :(</p>
    <a class="no-house-a" asp-controller="Houses" asp-action="ConfigureHouse">Press here to build a house</a>
</div>

