navbar h1 {
    display: inline-block;
    font-size: 5rem;
    margin: 0;
}

.navbar-ahref {
    text-decoration: none;
    color: white;
}

#house-svg {
    fill: white;
    height: 4rem;
    margin: 0 0 0 0.5rem;
}

#header-name {
    cursor: pointer;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

    #header-name:hover {
        background: var(--background-color);
        color: var(--navbar-color);
    }

        #header-name:hover #house-svg {
            fill: var(--navbar-color);
        }

navbar {
    min-width: 100%;
    box-sizing: border-box;
    background: var(--navbar-color);
    padding: 2rem;
    display: flex;
    min-height: var(--navbar-height);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divspan {
    height: inherit;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

    .divspan:hover {
        color: rgb(74, 66, 66);
        background-color: azure;
        text-decoration: underline;
    }

.navbar-side {
    display: flex;
}

#navbar-right-side {
    margin-left: auto;
}

#navbar-left-side {
    margin-right: auto;
}

@media (max-width: 1350px) {

    #navbar-left-side {
        display: none;
    }

    #header-name {
        margin-left: 4rem;
    }
}

@media (max-width: 860px) {
    navbar, #navbar-right-side {
        flex-direction: column;
        justify-content: center;
    }

    #navbar-right-side, .divspan, #header-name {
        margin-left: 0;
        margin-right: 0;
    }

    .divspan {
        margin-top: 2rem;
    }

    :root {
        --navbar-height: 22.7rem;
    }

    navbar h1 {
        font-size: 4rem;
    }

    #house-svg {
        height: 3rem;
    }
}
